$white: #ffffff;

$neutral-100: #f6f6f4;
$neutral-200: #f0f0ef;
$neutral-300: #e5e6e4;
$neutral-400: #c3c3c1;
$neutral-500: #93938f;
$neutral-600: #76766f;
$neutral-700: #6c6d6f;
$neutral-800: #58595b;
$neutral-900: #252627;

$blue-100: #f2f9ff;
$blue-200: #e1effa; //unused
$blue-300: #dff2ff;
$blue-400: #cde7fc;
$blue-500: #badffe;
$blue-600: #b7cef4;
$blue-700: #a4d5fd; //unused
$blue-800: #8ecbfd;
$blue-900: #2699fb;

$skeletonBg: #76766f95;
$skeletonShine: #f0f0ef50;
