.container {
  width: 100%;
  height: 60px;
  background: linear-gradient(#0358a2, #1973bb);
  display: flex;
  align-items: center;
}

.homeLink {
  display: block;
  margin: auto;
  padding-top: 4px;
}

.logo {
  max-width: 90px;
}
