@use "src/styles/spacing";

.container {
  padding-left: spacing.$pagePadding;
  padding-right: spacing.$pagePadding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}

.social {
  margin-left: 16px;
}
